body {
  font-family: sans-serif;
  padding: 10px;
  width: 230px;
  height: 250px;
  /* transition-duration: 0.3s; */
}

body.light {
  background-color: #f8f8f8;
}

body.dark {
  background-color: #151a27;
}

button {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  transition: 0.2s ease;
}

button:hover {
  scale: 105%;
}

#main .colorButton.green, .green button {
  background-color: #3e7614;
}
.green button:hover {
  background-color: #264a0b;
}

#main .colorButton.red, .red button {
  background-color: #761414;
}
.red button:hover {
  background-color: #4a0b0b;
}

#main .colorButton.blue, .blue button {
  background-color: #144776;
}
.blue button:hover {
  background-color: #0b204a;
}

#main .colorButton.yellow, .yellow button {
  background-color: goldenrod;
}
.yellow button:hover {
  background-color: #9d7717;
}

#credits {
  font-size: 8px;
  color: #adadad;
  margin-bottom: 8px;
}
#credits:hover {
  color: #6d6d6d;
}

#toggleMode, #options {
  width: 10%;
  padding: 4px 1px;
  margin: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#options a, a:visited {
  text-decoration: none;
}


body.light #options {
  color: #29324a;
}
body.dark #options {
  color: #b7b7b7;
}

body.light #toggleMode:hover, body.light #options:hover {
  background-color: #b7b7b7;
}
body.dark #toggleMode:hover, body.dark #options:hover {
  background-color: #29324a;
}