body {
  font-family: sans-serif;
  padding: 10px;
  width: 230px;
  height: 250px;
}

body.light {
  background-color: #f8f8f8;
}

body.dark {
  background-color: #151a27;
}

#main .sectionButton {
  width: 100%;
  display: block;
  text-align: center;
  padding: 8px;
  margin: 4px 0;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  transition: 0.2s ease;
}

#main button:hover {
  scale: 105%;
}

.colorButton {
  padding: 8px;
  border-radius: 16px;
  border: none;
}

.green button {
  background-color: #3e7614;
}
.green button:hover {
  background-color: #264a0b;
}

.red button {
  background-color: #761414;
}
.red button:hover {
  background-color: #4a0b0b;
}

.blue button {
  background-color: #144776;
}
.blue button:hover {
  background-color: #0b204a;
}

.yellow button {
  background-color: goldenrod;
}
.yellow button:hover {
  background-color: #9d7717;
}



#colorSelect .colorButton.green {
  background-color: #3e7614;
}
#colorSelect .colorButton.green button:hover {
  background-color: #264a0b;
}

#colorSelect .colorButton.red {
  background-color: #761414;
}
#maincolorSelect .colorButton.red button:hover {
  background-color: #4a0b0b;
}

#colorSelect .colorButton.blue {
  background-color: #144776;
}
#colorSelect .colorButton.blue button:hover {
  background-color: #0b204a;
}

#colorSelect .colorButton.yellow {
  background-color: goldenrod;
}
#colorSelect .colorButton.yellow button:hover {
  background-color: #9d7717;
}

.option-mode {
  display: none;
}

#credits {
  font-size: 8px;
  color: #adadad;
  margin-bottom: 8px;
}
#credits:hover {
  color: #6d6d6d;
}

#toggleMode, #options {
  width: 10%;
  padding: 4px 1px;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

#options {
  font-size: 16px;
  padding: 3px 1px;
}

body.light #options {
  color: #29324a;
}
body.dark #options {
  color: #b7b7b7;
}

body.light #toggleMode:hover, body.light #options:hover {
  background-color: #b7b7b7;
}
body.dark #toggleMode:hover, body.dark #options:hover {
  background-color: #29324a;
}