body {
  font-family: sans-serif;
  padding: 10px;
  width: 230px;
  height: 250px;
  background-color: #f8f8f8;
}

body.light {
  background-color: #f8f8f8;
}

body.dark {
  background-color: rgb(21, 26, 39);
}

button {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #1252ac;
  color: white;
  font-weight: bold;
  transition: 0.2s ease;
}

button:hover {
  background-color: #397ddd;
  scale: 110%;
}

#credits {
  font-size: 8px;
  color: rgb(173, 173, 173);
}